body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("img/flo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

p{
  color: rgb(0, 0, 124);
}

.rotateY{
  animation-name: rotateYAnime;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes rotateYAnime{
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(-360deg);
  }
}

.fadeIn{
  animation-name: fadeInAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeInAnime{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}